body {
    font-family: 'Varela Round';
}

table {
    border: 5px solid black;
    border-collapse: collapse;
    float: left;
    display: none;
}

td {
    border: 5px solid black;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

p {
    float: right;
    display: none;
}
